.services-area {
  text-align: center;
  padding: 2rem 12rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.ministry-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 2rem;
  max-width: 300px;
  flex: 1 1 calc(33.33% - 20px);
}

.ministry-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.ministry-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.ministry-info {
  padding: 1rem;
}

.ministry-info h4 {
  color: #211560;
  margin-bottom: 0.5rem;
}

.ministry-info p {
  color: #666;
  margin-bottom: 1rem;
}

.view-more {
  display: flex;
  justify-content: center;
}

.view-more a {
  text-decoration: none;
  color: #211560;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #fff;
  border: 2px solid #211560;
  padding: 6px 14px;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
}

.view-more a:hover {
  background-color: #211560;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .services-area {
    padding: 2rem 1rem;
  }
  .ministry-card {
    flex: 1 1 calc(50% - 20px);
  }
  .services-content {

    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .ministry-card {
    flex: 1 1 100%;
  }
  .services-content {

    gap: 20px;
  }
}
