@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: poppins;
}
.main-container {
  max-width: 1200px;
}
ul,
ul.nav {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.content {
  margin-top: calc(
    4rem + 20px
  ); /* Adjust 20px to match any additional margin or padding */
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding: 0px 90px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.nav {
  display: flex;
}
header ul.nav li {
  margin: 0 15px;
}

header ul.nav li:last-child {
  margin-right: 0;
}
header img {
  width: 100px;
  height: 100px;
}
@media (max-width: 1000px) {
  header {
    padding: 2px 5px;
  }
  .main-container {
    padding: 0px 4rem;
  }
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header ul.nav li {
    margin: 0 7px;
  }
  .about-right p {
    display: none;
  }
  .main-container {
    padding: 0px 2rem;
  }
}

/*about area*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.about-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-content li {
  padding: 20px;
  height: 500px;
  background-clip: content-box;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.about-left {
  flex-basis: 30%;
  background-image: url(images/2.jpg);
}
.about-right {
  flex-basis: 70%;
}
.about-right h2 {
  font-size: 35px;
}
.about-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}
.section-title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 3%;
  text-align: center;
}
.section-title span {
  color: #211560;
}
.about-right h2 {
  margin-bottom: 3%;
}
.about-btn {
  padding: 15px 35px;
  background: #211560;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1000px) {
  .section-title {
    font-size: 35px;
  }
  .about-left,
  .about-right {
    flex-basis: 100%;
  }
  .about-content li {
    padding: 8px;
  }
}
/*msg area*/

.msg-area {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/a2.jpeg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

