.banner-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
  z-index: -1;
}

.banner-text {
  text-align: center;
}

.banner-text h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.banner-text h1 {
  font-size: 3rem;
}

.text-red {
  color: red;
}
